<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Affectation des encadreurs</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="affectation-container">
    <h2>Affectation des encadreurs</h2>

    <table>
      <thead>
        <tr>
          <th>Étudiant</th>
          <th>Binôme</th>
          <th>Thème</th>
          <th>Encadrant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ali</td>
          <td>Karim</td>
          <td>Optimisation des bases de données</td>
          <td>
            <select>
              <option value="">-- Choisir un enseignant --</option>
              <option>Mr. Diallo (SI)</option>
              <option>Mme. Gnahoua (SRC)</option>
              <option>Mr. Ahouandjinou (AL)</option>
            </select>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</body>
</html>
